---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
---

<h1 class="w-full p-16 bg-blue-900 text-white">
  Welcome to Celestial Horizons
</h1>
<Navigation />
<div>
  <Card title="Welcome Aboard" body="Card Body" href="#" />
</div>>
